<div class="container table-box">

  <h1>Mahjong Game Score</h1>
  <div class="header-bar">
    <div class="right-bar">
        <i class="fa fa-undo fa-2x clickable" title="Start a new game" (click)="gameReset()"></i>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Player1</th>
        <th>Player2</th>
        <th>Player3</th>
        <th>Player4</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of playerScoreData">
        <td>{{score.player1Score}}</td>
        <td>{{score.player2Score}}</td>
        <td>{{score.player3Score}}</td>
        <td>{{score.player4Score}}</td>
      </tr>

      <tr>
        <td colspan="4">
          <strong>Total:</strong>
        </td>
      </tr>
      <tr>
        <td>{{playerOneTotalScore}}</td>
        <td>{{playerTwoTotalScore}}</td>
        <td>{{playerThreeTotalScore}}</td>
        <td>{{playerFourTotalScore}}</td>
      </tr>

      <tr [formGroup]="scoreInputForm">
        <td>
          <input type="number" class="form-control" formControlName="player1Score" (change)="onInputChange('1', scoreInputForm.value.player1Score)" />
        </td>
        <td>
          <input type="number" class="form-control" formControlName="player2Score" (change)="onInputChange('2', scoreInputForm.value.player2Score)" />
        </td>
        <td>
          <input type="number" class="form-control" formControlName="player3Score" (change)="onInputChange('3', scoreInputForm.value.player3Score)" />
        </td>
        <td>
          <input type="number" class="form-control" formControlName="player4Score" (change)="onInputChange('4', scoreInputForm.value.player4Score)" />
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" (click)="saveScores()" class="btn btn-success">Save</button>
        </td>
      </tr>
      <!-- <div class="form-group row">
        <label class="col-sm-3 control-label">Location </label>
        <div class="col-sm-6 ">
        </div>
      </div> -->

    </tbody>
  </table>
</div>